<style>
    .nav_section {
        width: 100%;
        position: absolute;
        bottom: 0px;
    }
    .nav_links {
        margin-top: 5px;
        margin-left: 50px;
        display: flex;
    }
    .nav_links a {
        display: block;
        width: 100px;
        height: 32px;
        color: black;
    }
    .sub_links {
        margin-top: 3px;
        display: flex;
    }
    .sub_links a {
        display: block;
        height: 20px;
        width: 68px;
    }
    .sub_links a:hover {
        background-color: rgba(0,0,0,0.2);;
    }
    #to_index {
        position: absolute;
        background-image: url('../../images/bk_icon.gif');
        width: 44px;
        height: 69px;
        bottom: 50px;
        right: 100px;
        cursor: pointer;
        font-size: 0;
    }
    #to_index:hover {
        background-image: url('../../images/bk_icon_hover.gif');
        cursor: pointer;
    }
</style>
<div class="nav_section">
    <div class="first_row nav_links" style="display: flex;">
        <a href="../../01wh/whhtm/wh_.htm">華夏墨寶</a>
        <a href="../../02dd/ddhtm/dd_.htm">當代風采</a>
        <a href="../../03item/itemhtm/item_.htm">文房聚英</a>
        <a href="../../04net/nethtm/net_.htm">網網相連</a>
    </div>
    <div class="second_row nav_links" style="display: flex;">
        <a href="../../05school/schoolhtm/school_.htm">翰墨書院</a>
        <a href="../../06dic/dictionary.htm">書法專用辭</a>
        <a href="../../07story/storyhtm/story_.htm">書法故事</a>
        
        <a href="../../sitemap.html">網站導覽</a>
    </div>
</div>
<a href="../../index.html" id="to_index" style="font-size: 0;" tabindex="0">回首頁</a>
<script>
</script>